<!DOCTYPE HTML>
<html>
<head>
  <body>
    <div id="log" style="width: 100%; border: 1px solid black; height: 300px; overflow:auto;overflow-y: scroll;"></div>

    <textarea id="txtarea" placeholder="" maxlength="256" style="height:50px;width:100%;margin-bottom:0px;color:white;background-color:rgb(25,25,25);" value="{% if chat %}{{chat}}{% else %}{{''}}{% endif %}"></textarea>
    <br>
    <form id="sendmsg" method="POST" action="#">
        <input id="submit" type="submit" value="Send Message" onclick="clear_txtarea()">
    </form>
    <input id="username" maxlength="16" style="margin-bottom:0px;margin-top:0px" placeholder="username" value="{% if user %}{{user}}{% else %}{{''}}{% endif %}"></input><br></br>
    <input id="password" maxlength="16" style="margin-bottom:0px;margin-top:0px" placeholder="password" type="password" value="{% if pw %}{{pw}}{% else %}{{''}}{% endif %}"></input>
    <p>Username/Password must be unique.  Remember your password because I'm not resetting anything.  Leave blank to chat anonymously.</p>
    <p>This should go without saying, but DO NOT use this password anywhere else.</p>
    <p id="users">Users Online: 0</p>
    <p>Recently Online:</p>
    <p id="usernames"></p>
</body>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'Connected!'});
            });

            function scrollToBottom(el) {
              el.scrollTop = el.scrollHeight;
            }

            // response received from server is handled here
            socket.on('send_msg', function(msg) {
                $('#log').append('<br>' + msg.info + $('<div/>').text(msg.text).html());
                var consoleDiv = document.getElementById('log');
                consoleDiv.scrollTop = consoleDiv.scrollHeight;
            })

            socket.on('update_users', function(msg) {
                document.querySelector('#users').innerText = msg.value
            })
            socket.on('update_user_list', function(msg) {
                document.querySelector('#usernames').innerText = msg.value
            })

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#sendmsg').submit(function(event) {
                const txt = document.querySelector('#txtarea').value
                const usr = document.querySelector('#username').value
                const pw = document.querySelector('#password').value
                socket.emit('send_msg', {text: txt, username: usr, password: pw});
                document.getElementById("txtarea").value = '';
                return false;
            });
            $('form#login').submit(function(event) {
                const usr = document.querySelector('#username').value
                const pw = document.querySelector('#password').value
                socket.emit('log_in', {username: usr, password: pw});
                return false;
            });
        });

        var input = document.getElementById("txtarea");
            input.addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("submit").click();

              }
            });
            var username_input = document.getElementById("username");
            username_input.addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById('password').focus();
              }
            });
            var pw_input = document.getElementById("password");
            pw_input.addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById('txtarea').focus();
              }
});
    </script>
</head>

</html>