<html>
<body onload="window.scrollTo(0,999999)">
<dl id="irc_chat">
<p><span style="color:#337dff;">[2023-03-10 16:10:58] anonymous_8b: </span>test</p>
<p><span style="color:#337dff;">[2023-03-10 16:11:49] anonymous_1e: </span>test</p>
<p><span style="color:#337dff;">[2023-03-10 16:11:49] anonymous_1e: </span>test</p>
<p><span style="color:#337dff;">[2023-03-10 16:11:49] anonymous_1e: </span>test</p>
<p><span style="color:#337dff;">[2024-01-19 14:44:00] anonymous_eb: </span>test</p>
<p><span style="color:#337dff;">[2024-01-19 14:47:43] anonymous_7e: </span>test</p>
</dl>
<style>
p {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #ffffff;
}
body {
   background-color: rgb(25,25,25);
}
</style>
</body>
</html>